html
  head
    title ddddd
  body
    //- div= self.testVar
    div= self.add(1, 2)
    div= self.title
    //- div= #{minus(1, 2)}
    div= self.md(`~~~ddtet~~~; **33**`)
    div= JSON.stringify({"a": 1})
    //- div= location.herf


